# DataScience Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that data scientists use include:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit Learn
6. Tensor Flow

# Data Science Tools
1. Jupyter Notebook
2. R studio
3. Appache Zeppelin

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science  
- Identify commonly used libraries in Data Science  
- Understand basic arithmetic expressions in Python  
- Demonstrate how to use Jupyter Notebook effectively

In [ ]:
## Author

Rayya